<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">-->

    <style>
        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    </style>
</head>
<body style="font-family: 'Trebuchet MS', Arial, Futura, sans-serif">
<h2 style="text-align: center">ROOMS TABLE</h2>

<div style="padding: 10px 10px 10px 10px;">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Price</th>
            <th>Room Description</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th hidden></th>
            <th hidden></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="table:${rooms}">
            <td th:text="${table.id}"> </td>
            <td th:text="${table.price}"></td>
            <td th:text="${table.roomDesc}"></td>
            <td th:text="${table.roomNum}"></td>
            <td th:text="${table.roomTitle}"></td>
            <td>
                <a class="btn btn-default eBtn" th:onclick="|getRoom('${table.id}')|"><span class="glyphicon glyphicon-edit"></span></a>
            </td>
            <td>
                <a class="btn btn-default" th:href="@{/delete-room(id=${table.id})}"><span style="color: red" class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <th>ID</th>
            <th>Price</th>
            <th>Room Description</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th hidden></th>
            <th hidden></th>
        </tr>
        </tfoot>

    </table>
</div>

<div class="myForm" >
    <form th:action="@{/edit-room}" method="post" id="modal">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel" style="text-align: center">Edit Rooms</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id" class="col-form-label">ID</label>
                            <input type="text" class="form-control" id="id" name="id">
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-form-label">Price</label>
                            <input type="text" class="form-control" id="price" name="price">
                        </div>
                        <div class="form-group">
                            <label for="desc" class="col-form-label">Room Description</label>
                            <textarea class="form-control" id="desc" rows="6" name="desc"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="num" class="col-form-label">Room No</label>
                            <input type="text" class="form-control" id="num" name="num">
                        </div>
                        <div class="form-group">
                            <label for="type" class="col-form-label">Room Type</label>
                            <input type="text" class="form-control" id="type" name="type">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>

<script>
    var output;
    function getRoom(id){
        $.ajax({
            url : "/"+id+"/find-one-room",
            type: "GET",
            success: function (data) {
                output = data;
                console.log("data");
                console.log(output);
                $('.myForm #modal').find(function () {
                    $('#id').val(output.id).end();
                    $('#price').val(output.price).end();
                    $('#desc').val(output.roomDesc).end();
                    $('#num').val(output.roomNum).end();
                    $('#type').val(output.roomTitle).end();
                });
                $('.myForm #exampleModal').modal();
            }
        })
    }
</script>

<script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each( function () {
            $(this).html( '<input class="form-control" type="text" placeholder="Search" />' );
        } );

        // DataTable
        var table = $('#example').DataTable();

        // Apply the search
        table.columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    } );
</script>
</html>