<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>The Palatin - Hotel &amp; Resort Template</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="cssload-container">
        <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="palatin-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="palatinNav">

                    <!-- Nav brand -->
                    <a href="index" class="nav-brand"><img src="img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="index">Home</a></li>
                                <li><a href="about-us">About Us</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="index">Home</a></li>
                                        <li><a href="about-us">About Us</a></li>
                                        <li><a href="services">Services</a></li>
                                        <li><a href="rooms">Rooms</a></li>
                                        <li><a href="booking">News</a></li>
                                        <li><a href="contact">Contact</a></li>
                                        <li><a href="elements">Elements</a></li>
                                    </ul>
                                </li>
                                <li class="active"><a href="signup">Sign Up</a></li>
                                <li><a href="services">Services</a></li>
                                <li><a href="contact">Contact</a></li>
                            </ul>

                            <!-- Button -->
                            <div class="menu-btn">
                                <a href="#" class="btn palatin-btn">Make a Reservation</a>
                            </div>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->

<section style="height: 200px; padding-top: 250px; padding-bottom: 115px;" class="breadcumb-area d-flex align-items-center justify-content-center">
    <div class="bradcumbContent">
        <h2>Sign Up</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<div style="display: block; text-align: center; margin-bottom: 150px;  ">
    <form th:action="@{/addPersonnel}" th:object="${customer}" method="post" style="border:2px solid #cb8670; display: inline-block; margin-left: auto; margin-right: auto; text-align: left; padding-top: 30px; padding-bottom: 30px; padding-left: 20px; padding-right: 30px">
        <h3 style="padding-bottom: 20px; text-align: center">CREATE AN ACCOUNT</h3>
        <div class="form-group">
            <div class="form-row col-md-12">
                <div class="form-group col-md-6">
                    <label for="fname">Full Name</label>
                    <input class="form-control" type="text" id="fname" name="fullName" placeholder="Donald Okafor" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="lname">Username</label>
                    <input class="form-control" type="text" id="lname" name="lname" placeholder="donald17" th:field="*{user.userName}" required>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label">Gender</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="genderRadios" value="male" th:field="*{gender}" required> Male
                    </label>
                </div>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="genderRadios" value="female" th:field="*{gender}" required> Female
                    </label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" th:field="*{email}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="pswd">Password</label>
                <input type="password" class="form-control" name="password" id="pswd" placeholder="Password" th:field="*{user.password}" required>
            </div>
            <div class="form-group col-md-6 custom-control custom-checkbox" style="right: 0px; left: 14px;">
                <input type="checkbox" class="custom-control-input form-control" id="customCheck1" required>
                <label class="custom-control-label" for="customCheck1">I agree to the Terms and Conditions.</label>
            </div>
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>

        </div>
    </form>
</div>


<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container">
        <div class="row">

            <!-- Footer Widget Area -->
            <div class="col-12 col-lg-5">
                <div class="footer-widget-area mt-50">
                    <a href="#" class="d-block mb-5"><img src="img/core-img/logo.png" alt=""></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. </p>
                </div>
            </div>

            <!-- Footer Widget Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="footer-widget-area mt-50">
                    <h6 class="widget-title mb-5">Find us on the map</h6>
                    <img src="img/bg-img/footer-map.png" alt="">
                </div>
            </div>

            <!-- Footer Widget Area -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="footer-widget-area mt-50">
                    <h6 class="widget-title mb-5">Subscribe to our newsletter</h6>
                    <form action="#" method="post" class="subscribe-form">
                        <input type="email" name="subscribe-email" id="subscribeemail" placeholder="Your E-mail">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>

            <!-- Copywrite Text -->
            <div class="col-12">
                <div class="copywrite-text mt-30">
                    <p><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>

</body>

</html>